---
import MainLayout from '@Layouts/Layout.astro';
import Navbar from '@Templates/guest/Navbar.astro';
import Footer from '@Templates/guest/Footer.astro';

const { title } = Astro.props;
---

<MainLayout title={title}>
    <Navbar />
    <div class="flex pt-16 overflow-hidden">
        <div
            id="main-content"
            class="relative
            w-full
            max-w-screen-2xl
            mx-auto
            h-full
            overflow-y-auto
            min-h-screen
            bg-gradient-to-br
            from-secondary-200/25 to-secondary-100/50
            dark:from-primary-200/25 dark:to-primary-100/50"
        >
            <div class="px-4 pt-6 2xl:px-0">
                <slot />
            </div>
            <Footer />
        </div>
    </div>
</MainLayout>
