---
import MainLayout from '@Layouts/Layout.astro';
import ForgotPasswordForm from '@Modules/accounts/Auth/ForgotPasswordForm.astro';
---

<MainLayout title="Forgot Password">
    <div class="min-h-screen align-middle flex pb-[12vh]"><ForgotPasswordForm /></div>
</MainLayout>
