---
import MainLayout from '@Layouts/Layout.astro';
import ProfileLockForm from '@Modules/accounts/Auth/ProfileLockForm.astro';
---

<MainLayout title="Profile Lock">
    <div class="min-h-screen align-middle flex pb-[12vh]"><ProfileLockForm /></div>
</MainLayout>
