---
import MainLayout from '@Layouts/Layout.astro';
import ResetPasswordForm from '@Modules/accounts/Auth/ResetPasswordForm.astro';
---

<MainLayout title="Reset Password">
    <div class="min-h-screen align-middle flex pb-[12vh]"><ResetPasswordForm /></div>
</MainLayout>
