---
import MainLayout from '@Layouts/clear/Layout.astro';
import SignUpForm from '@Modules/accounts/Auth/SignUpForm.astro';
---

<MainLayout title="Sign Up">
    <div class="align-middle flex pb-[12vh]"><SignUpForm /></div>
</MainLayout>
