---
import MainLayout from '@Layouts/clear/Layout.astro';
import SignInForm from '@Modules/accounts/Auth/SignInForm.astro';
---

<MainLayout title="Sign In">
    <div class="min-h-screen align-middle flex pb-[12vh]"><SignInForm /></div>
</MainLayout>
