---
import Layout from '@Layouts/guest/Layout.astro';
import BreadCrumbs from '@Components/_shared/BreadCrumbs.astro';
const breadcrumbs = [
    { label: 'Legal', path: '/legal' },
    { label: 'Privacy Policies', path: '/legal/privacy' }
];
---

<Layout title="Privacy Policies">
    <div class="px-4 pt-6">
        <div class="p-4 block sm:flex items-center justify-between">
            <div class="w-full mb-1">
                <BreadCrumbs
                    routes={breadcrumbs}
                    currentRoute={Astro.url.pathname}
                    headerTitle="Privacy Policies"
                />
            </div>
        </div>
        <div class="mt-8 flex flex-col">
            <h5 class="text-xl font-bold mb-6 text-gray-900 dark:text-white">
                Ultima actualización: <i
                    class="font-bold text-gray-900 dark:text-white"
                    >15 de Febrero de 2025</i
                >.
            </h5>
            <article
                class="prose dark:prose-invert lg:prose-xl max-w-none px-4 py-8"
            >
                <p class="font-normal text-black dark:text-white text-balance">
                    Bytes4Run S.A. de C.V. (Bytes4Run) desde ahora en adelante
                    "La empresa", reconoce la importancia que el cliente pone en
                    la información que comparte a "La empresa" y como es usada
                    y/o compartida por "La empresa", por tanto apreciamos su
                    confianza depositada y nos comprometemos a tratarla de una
                    forma cuidadosa y sensible. Este documento describe nuestra
                    política de privacidad. Al registrarse en "La empresa"
                    (Bytes4Run), utilizar sus servicios o sitio web, usted está
                    aceptando la práctica de dichas política de privacidad
                    descritas a continuación. Nuestra política de seguridad
                    aplicada a la información que los clientes entregan en
                    nuestro sitio web al momento de registrarse, de aquí en
                    delante “EL USUARIO”; es usada únicamente para ofrecer un
                    servicio más personalizado, por tanto, dicha información no
                    se divulgará, entregará o se venderá por ningún medio físico
                    o digital a ninguna persona, institución, entidad comercial
                    o gubernamental, para ofrecer publicidad u ofertas de índole
                    comercial o política, excepto en circunstancias de peligro
                    hacia nuestros usuarios o nuestra empresa.
                </p>
                <ol
                    type="1"
                    class="font-normal text-black dark:text-white text-balance"
                >
                    <li>
                        <strong
                            >Recopilación y uso de la información que "La
                            empresa" reúne de “EL USUARIO”.</strong
                        >
                        <ol type="a">
                            <li>
                                La información que nuestros clientes entregan,
                                nos ayuda a personalizar y hacer más eficiente,
                                cómoda y practica la experiencia en nuestra
                                tienda, productos y servicios.<br />
                                El tipo de información que recogemos de “EL USUARIO”
                                es:
                                <ol type="i">
                                    <li>
                                        Información que “EL USUARIO” entrega:<br
                                        />
                                        "La empresa", recibe información sensible
                                        de “EL USUARIO” por medio de formularios
                                        de registro, llenado de encuestas, creación
                                        de direcciones de envío y facturación.
                                        <br />Estas informaciones son usadas
                                        para creación ofertas especiales,
                                        descuentos y rebajas entre otros. <br />
                                        Dicha información es necesaria para realizar
                                        compras y pedidos en nuestra tienda "El Bisnero
                                        Maya" y este sitio, ésta información es almacenada
                                        en nuestras bases de datos y protegida bajo
                                        altos estándares de seguridad. Parte de esta
                                        información es usada para personalizar futuras
                                        compras y recomendaciones, mejorar nuestra
                                        tienda, comunicarnos con usted y responder
                                        con prontitud a sus peticiones, la otra parte
                                        de la información solicitada es usada para
                                        la autorización de compras y seguimiento
                                        de cuentas, esto con el fin de evitar fraudes
                                        y cuentas fantasma.
                                    </li>
                                    <li>
                                        Información Automátizada:<br />
                                        Nuestra tienda recibe cierta información
                                        cada vez que “EL USUARIO” interactúa con
                                        nuestro sitio web o realiza una compra. Por
                                        ejemplo, tal como muchos otros sitios web,
                                        "La empresa" usa el medio denominado “cookie”,
                                        este medio obtiene información como: <em
                                            >tipo de navegador usado a la hora
                                            de acceder a "La empresa", tipo de
                                            sistema operativo desde el cual se
                                            navega, últimas páginas visitas
                                            dentro de nuestro sitio web, entre
                                            otra información que nos ayuda a
                                            ofrecerte ofertas y artículos que
                                            puedan interesarle a “EL USUARIO”.</em
                                        > Este medio es opcional, “EL USUARIO” puede
                                        decidir si permitir que "La empresa" utilice
                                        dicho medio de recolección de información
                                        o no; de no permitirse el uso de este medio,
                                        "La empresa" no podrá identificar a “EL USUARIO”
                                        ni ofrecer ofertas especiales o la muestra
                                        de artículos que puedan interesarle.<br
                                        />
                                        Como ejemplo de dicha información se puede
                                        tomar:<br />
                                        Dirección de envío. Usada para facilitar
                                        mejores métodos de entrega.<br />
                                        Categoria de productos. Usada para ofrecer
                                        ofertas y descuentos.<br />
                                        Tipos de productos. Usada para ofrecer ofertas,
                                        descuentos y recomendaciones.<br />
                                    </li>
                                    <li>
                                        Comunicación por correo electrónico:<br
                                        />
                                        Usualmente los correos enviados a “EL USUARIO”
                                        tienen la habilidad de permitirnos recibir
                                        una notificación cuando un cliente hace clic
                                        a un enlace enviado por este medio. Esta
                                        alerta ayuda a ofrecer mejores ofertas y
                                        contenido más atractivo para “EL USUARIO”.
                                        Si “EL USUARIO” no desea recibir correo de
                                        ofertas o el modo de correo denominado “Newsletter”
                                        (Correo de boletín) el cual ofrece noticias
                                        de nuevos productos, servicios y ofertas.
                                        Este medio recoge la tendencia de “EL USUARIO”
                                        por preferir unas ofertas sobre otras, las
                                        que nos ayudan a ofrecer a “EL USUARIO” artículos,
                                        servicios o rebajas personalizadas y de mayor
                                        interés. “El USUARIO” puede optar por darse
                                        de baja usando el vínculo respectivo proporcionado
                                        en el correo, o visitando el sitio web de
                                        "La empresa" y modificar sus preferencias.
                                    </li>
                                    <li>
                                        Información de terceros:<br />
                                        Al vincular las cuentas de otros sitios como
                                        Facebook, Instagram o X(Tweeter); "La empresa"
                                        puede recibir información de preferencias
                                        o enviar noticias a dichos sitios para que
                                        “EL USUARIO” pueda acceder a ésta información
                                        sin necesidad de iniciar sesión en nuestra
                                        tienda. Sí “EL USUARIO” no desea brindar
                                        dicha información o recibir ésta información,
                                        puede desvincular las cuentas de sus redes
                                        sociales favoritas en la sección de "Mi cuenta"
                                        de nuestra tienda y modificar sus preferencias.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                Información de las cookies
                                <ol type="i">
                                    <li>
                                        Las “cookies” son identificadores únicos
                                        que se transfiere a su dispositivo para
                                        habilitar el reconocimiento de su equipo
                                        y poder así proporcionar mejores
                                        ofertas, recursos de compra en un solo
                                        clic, recomendaciones de productos,
                                        publicidad personalizada.
                                    </li>
                                    <li>
                                        Muchos navegadores le ofrecen en la
                                        sección “ayuda” la forma rápida para
                                        evitar la aceptación automática de
                                        “cookies” o como deshabilitarlas;
                                        adicional, aquí podrás deshabilitar o
                                        borrar información similar usada por las
                                        “add-ons” de los navegadores, cambiando
                                        las opciones o visitando el sitio web de
                                        sus creadores. Se recomienda dejar
                                        activo el alojamiento de este medio
                                        (cookie), para aprovechar ofertas,
                                        descuentos, nuevos productos, entre
                                        otras características de la tienda.
                                        NOTA: El medio denominado “cookie”, no
                                        recolecta nombre de usuario,
                                        contraseñas, ubicación geográfica u otro
                                        tipo de información que pueda poner en
                                        riesgo de un ataque físico o virtual por
                                        parte de personas ajenas a LA TIENDA.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        Seguridad de la información de "La empresa" Protección
                        de LA TIENDA (Bytes4Run) y otros relacionados:<br />
                        Nosotros podemos liberar las cuentas y/u otra información
                        personal, cuando la integridad, derechos, y/o seguridad de
                        "La empresa", nuestros clientes o proveedores, se vea amenazada
                        por violaciones de leyes, reglas o normas del comercio estipuladas
                        en (condiciones de uso) y otros acuerdos; Estas prácticas
                        incluyen compartir información con agencias, compañías y
                        organizaciones para prevenir el fraude y reducir el riesgo
                        crediticio.<br />
                        Obviamente estas prácticas no contemplan compartir, vender,
                        rentar, o en todo caso revelar información personal de clientes,
                        con un propósito comercial que violen acuerdos celebrados
                        en este documento de privacidad.
                        <ol type="a">
                            <li>
                                Consentimiento: Por causas justificables, como
                                las antes mencionadas, se notificará de
                                cualquier tipo de reparto de información hacia
                                entidades u organizaciones que requieran la
                                identificación de la persona. Se hace mención
                                que estas organizaciones deberán identificarse
                                para tener el consentimiento tanto de "La
                                empresa", como “EL USUARIO”, a procesar la
                                información que a nosotros "La empresa", se nos
                                ha confiado.
                            </li>
                            <li>
                                Nuestros servidores constan con protecciones de
                                cifrado SSL, Anti virus(Antivirus), Anti
                                malware(Antimalware) y corta fuegos(firewall),
                                los cuales actúan como capas de protección
                                contra ataques de instituciones y personas mal
                                intencionadas, que buscan acceder a la
                                información de los usuarios para venderla o
                                suplantar identidades.
                            </li>
                            <li>
                                Toda información recopilada por cualquier medio,
                                es encriptada y almacenada en bases de datos
                                protegidas por altos estándares de encriptación
                                incluidos, pero no limitados al estándar de
                                128bits, conexiones monitoreadas por corta
                                fuegos(firewall), antivirus y antimalware. Sí se
                                detecta actividad fraudulenta o que pueda dañar
                                la integridad de la información, revelar
                                información, modificar o extraer información,
                                por parte de un usuario de "La empresa", este
                                será bloqueado y se notificará al dueño de dicha
                                cuenta, y se notificará a las autoridades
                                correspondientes, para que se haga un
                                seguimiento de la infracción.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <strong>¿Cómo se resguarda mi información?</strong>
                        <ul>
                            <li>
                                Trabajamos para proteger tu información durante
                                las transacciones mediante el uso de” Capas de
                                Sockets Protegidos” (SSL), los cuales encriptan
                                tu información enviada a "La empresa".
                            </li>
                            <li>
                                Sólo se permite la revelación de los últimos
                                cuatro dígitos de tu tarjeta de crédito, cuando
                                realizas un pago con la misma esta medida está
                                también protegida por la encriptación del método
                                de pago elegido a la hora de realizar tus pagos
                                (PayPal)
                            </li>
                            <li>
                                Te recomendamos siempre cerrar sesiones en todos
                                los dispositivos, luego de usarlos, también no
                                dejar que los navegadores guarden tu información
                                como: nombre de usuario, contraseña; para evitar
                                accesos no autorizados y/o pedidos falsos, todo
                                esto, con el fin de evitar inconvenientes por
                                pedidos y transacciones negligentes.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Quien puede acceder a mi información: Bytes4Run (LA
                        TIENDA), concede acceso a la información de su cuenta
                        únicamente a “EL USUARIO” (la persona registrada en la
                        tienda), motores de personalización de ofertas
                        integrados en "La empresa", y/u organizaciones,
                        entidades legales, penales y de auditoria, siempre que
                        estas estén debidamente identificadas y se tenga la
                        total aprobación de “EL USUARIO”.
                    </li>
                    <li>
                        ¿Cuáles son mis opciones? - Como se expresa en el
                        apartado dos, “EL USUARIO” puede escoger no proveer
                        información aun cuando esto puede impedir que “EL
                        USUARIO” pueda realizar compras o recibir información
                        importante sobre ofertas de productos, servicios o
                        características especiales de "La empresa". Si no desea
                        recibir nuestro boletín de noticias, ajuste sus
                        preferencias de comunicación. Aún sí no desea recibir
                        actualización de nuestras política de privacidad,
                        condiciones de uso del sitio o uso legal, estos
                        documentos y su normativa seguirá afectado tanto el uso
                        del sitio, consecuencias legales y el uso de su
                        información, queda a su responsabilidad el leer las
                        clausulas estipuladas en estos documentos y sus futuras
                        actualizaciones. Queda a su discreción la configuración
                        de sus preferencias de navegación y aceptación de
                        “cookies “por parte de "La empresa" o cualquier sitio
                        web, La configuración de los “Add-ons” instalados en el
                        navegador, configuración de cierre y guardado de
                        credenciales. ¿Puede mi hijo u otro niño menor de edad
                        usar LA TIENDA? Nuestra tienda no ofrece la venta de
                        productos para ser adquiridos por niños menores de edad.
                        La adquisición de productos etiquetados como “para
                        niños”, con especial uso para niños, o enfocados hacia
                        niños menores de edad, sólo podrá ser realizadas por un
                        adulto. La información de compra de artículos es enviada
                        directamente hacia el correo del responsable de la
                        cuenta, queda en total responsabilidad del dueño de
                        ésta, el buen uso de su información personal, tarjeta de
                        crédito o débito, que se almacene en su cuenta de
                        cliente en "La empresa", sean estos los padres de
                        familia o encargados de los menores de edad, amigos o
                        allegados al menor que cumplan con la mayoría de edad.
                    </li>
                </ol>
            </article>
            <article
                class="font-normal text-black dark:text-white text-balance"
            >
                <ol type="1">
                    <li>
                        ¿Cómo se resguarda mi información?
                        <ol type="a">
                            <li>
                                Trabajamos para proteger tu información durante
                                las transacciones mediante el uso de” Capas de
                                Sockets Protegidos” (SSL), los cuales encriptan
                                tu información enviada a "La empresa".
                            </li>
                            <li>
                                Sólo se permite la revelación de los últimos
                                cuatro dígitos de tu tarjeta de crédito, cuando
                                realizas un pago con la misma esta medida está
                                también protegida por la encriptación del método
                                de pago elegido a la hora de realizar tus pagos
                                (PayPal)
                            </li>
                            <li>
                                Te recomendamos siempre cerrar sesiones en todos
                                los dispositivos, luego de usarlos, también no
                                dejar que los navegadores guarden tu información
                                como: nombre de usuario, contraseña; para evitar
                                accesos no autorizados y/o pedidos falsos, todo
                                esto, con el fin de evitar inconvenientes por
                                pedidos y transacciones negligentes.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Quien puede acceder a mi información:Bytes4Run (LA
                        TIENDA), concede acceso a la información de su cuenta
                        únicamente a “EL USUARIO” (la persona registrada en la
                        tienda), motores de personalización de ofertas
                        integrados en "La empresa", y/u organizaciones,entidades
                        legales, penales y de auditoria, siempre que estas estén
                        debidamente identificadas y se tenga la total aprobación
                        de “EL USUARIO”.
                    </li>
                    <li>
                        ¿Cuáles son mis opciones? - Como se expresa en el
                        apartado dos, “EL USUARIO” puede escoger no proveer
                        información aun cuando esto puede impedir que “EL
                        USUARIO” pueda realizar compras o recibir información
                        importante sobre ofertas de productos, servicios o
                        características especiales de "La empresa".
                        <br /> Si no desea recibir nuestro boletín de noticias, ajuste
                        sus preferencias de comunicación. Aún sí no desea recibir
                        actualización de nuestras políticas de privacidad, condiciones
                        de uso del sitio o uso legal, estos documentos y su normativa
                        seguirá afectado tanto el uso del sitio, consecuencias legales
                        y el uso de su información, queda a su responsabilidad el
                        leer las clausulas estipuladas en estos documentos y sus
                        futuras actualizaciones.
                    </li>
                    <li>
                        Queda a su discreción la configuración de sus
                        preferencias de navegación y aceptación de “cookies “por
                        parte de "La empresa" o cualquier sitio web, La
                        configuración de los “Add-ons” instalados en el
                        navegador, configuración de cierre y guardado de
                        credenciales.
                    </li>
                    <li>
                        ¿Puede mi hijo u otro niño menor de edad usar LA TIENDA?
                        Nuestra tienda no ofrece la venta de productos para ser
                        adquiridos por niños menores de edad. La adquisición de
                        productos etiquetados como “para niños”, con especial
                        uso para niños, o enfocados hacia niños menores de edad,
                        sólo podrá ser realizadas por un adulto. La información
                        de compra de artículos es enviada directamente hacia el
                        correo del responsable de la cuenta, queda en total
                        responsabilidad del dueño de ésta, el buen uso de su
                        información personal, tarjeta de crédito o débito, que
                        se almacene en su cuenta de cliente en "La empresa",
                        sean estos los padres de familia o encargados de los
                        menores de edad, amigos o allegados al menor que cumplan
                        con la mayoría de edad.
                    </li>
                </ol>
            </article>
        </div>
    </div>
</Layout>
