---
import MainLayout from '@Layouts/Layout.astro';
import NavBar from '@Templates/app/Navbar.astro';
import Sidebar from '@Templates/app/Sidebar.astro';
import Footer from '@Templates/app/Footer.astro';

const { title } = Astro.props;
---

<MainLayout title={title}>
    <NavBar />
    <Sidebar />
    <div class="flex pt-16 overflow-hidden">
        <div
            id="main-content"
            class="relative
            w-full
            h-full
            overflow-y-auto
            lg:ml-64
            min-h-screen
            bg-gradiant-to-br
            from-secondary-400/25 to-secondary-100/50
            dark:from-primary-400/25 dark:to-primary-100/50"
        >
            <slot />
            <Footer />
        </div>
    </div>
</MainLayout>
