---
import MainLayout from '@Layouts/Layout.astro';
import Footer from '@Templates/guest/Footer.astro';
const { title } = Astro.props;
---

<MainLayout title={title}>
    <div class="flex pt-16 overflow-hidden">
        <div
            id="main-content"
            class="relative
            w-full
            h-full
            mx-auto
            overflow-y-auto
            min-h-screen
            bg-gradient-to-br
            from-secondary-800/50 to-secondary-500/50
            dark:from-primary-800/50 dark:to-primary-500/50"
        >
            <div class="px-4 pt-6 2xl:px-0">
                <slot />
            </div>
            <Footer />
        </div>
    </div>
</MainLayout>
