---
import Head from '@Templates/_shared/Head.astro';
import '@Styles/global.css';

const { title, class: clazz } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={title} />
    <body
        class:list={[
            'bg-secondary-500 dark:bg-primary-500',
            'scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem]',
            'scrollbar-track-slate-200  scrollbar-thumb-primary-400',
            'dark:scrollbar-track-primary-900 dark:scrollbar-thumb-primary-700',
            clazz
        ]}
    >
        <slot />
    </body>
</html>
<script>
    import 'flowbite';
    // import 'flowbite/dist/datepicker.js';
</script>

<style is:global>
    @import url('https://fonts.cdnfonts.com/css/inter');
</style>
