---
import Company from "./Company.astro";
---

<p class="my-6 text-sm text-center text-primary-500 dark:text-primary-800 bottom-0">
	&copy; 2022 - {new Date().getFullYear()} —
	<Company />. rights limited.
</p>
